<div>
    <div class="game-picture">
        <img src="..public\assets\img\video-game-placeholder.webp">
    </div>
    <div class="game-info">
        <P>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed id semper risus. At in tellus integer feugiat scelerisque. Eu scelerisque felis imperdiet proin.
        </P>
    </div>
</div>

<div class="game-blog">
    {{#each game-posts as |game-posts|}}
    <div class="game-posts" id="post-1">
        <p>
        
        </p>
    </div>
    {{/each}}
</div>
