<div class="flexbox-container1">
    <div class="flexbox-profile-pic"></div>
    <div class="flexbox-info">
        {{}}
    </div>
</div>

<div class="flexbox-container2">
    <div class="game">
        {{}}
    </div>
    <div class="game">
        {{}}
    </div>
    <div class="game">
        {{}}
    </div>
    <div class="game">
        {{}}
    </div>
    <div class="game">
        {{}}
    </div>
    <div class="game">
        {{}}
    </div>        
</div>