:root {
/* Color pallet options 1 (match login background) */
  --deep-champagne: #FFD699;
  --congo_pink: #FF8380;
  --persian-rose: #F2379A;
  --steel-blue: #567D9A;
  --spanish-violet: #452386;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background:var(--spanish-violet);
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--congo_pink);
  border-radius: 6px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--congo_pink);
  transition: 0.1s;
  z-index: 1000;
}

header.sticky {
  background: var(--steel-blue);
  box-shadow: 0 5px 10px rgba(249, 248, 248, 0.201);
}

header .logo {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
}

header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin: 10px;
}

header ul li a {
  color: rgb(5, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

header ul li a:hover {
  background: var(--congo_pink);
  color: black;
  box-shadow: 0 0 10px var(--congo_pink);
}

header .action .searchBx {
  padding: 5px;
  margin: 5px;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
}

header .action .searchBx i {
  font-size: 1.4em;
  margin: 5px;
  color: #222;
}

header .action .searchBx input {
  outline: none;
  border: none;
  font-size: 1em;
  color: #222;
}


/* Home Banner */

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .bg .content {
  width: 60%;
  height: 100%;
  background: rgba(16, 21, 52, 0.5);
  padding: 20px;
  z-index: 1;
  border-radius: 10px;
}

.banner .bg .content h2 {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
}

.banner .bg .content p {
  font-size: 1em;
  color: #dbd9d9;
  letter-spacing: 1px;
}

.banner .bg .content a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid var(--congo_pink);
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.banner .bg .content a:hover {
  background: var(--congo_pink);
  border: none;
  color:var(--spanish-violet);
  box-shadow: 0 0 10px var(--congo_pink);
}

.banner .bg img {
  padding-top: 80px;
  width: 400px;
  height: 650px;
  position: absolute;
}


/* About */

.about {
  position: relative;
  width: 100%;
  min-height: 75vh;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about img{
  width: 500px;
  height: 450px;
  
}
.about .contentBx {
  width: 50%;
  margin: 20px;
}

.about .contentBx h2 {
  padding-top: 70px;
  font-size: 3em;
  font-weight: 700;
  color: #fff;
}

.about .contentBx p {
  max-width: 600px;
  text-align: justify;
  color: #dbd9d9;
}

.about .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid var(--congo_pink);
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.about .contentBx a:hover {
  background: var(--congo_pink);
  border: none;
  color:var(--spanish-violet);
  box-shadow: 0 0 10px var(--congo_pink);
}


/* Games */

.games {
  padding: 0px 100px;
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

.games h2 {
  color: #fff;
  margin: 10px 0;
}

.games ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.games ul li {
  list-style: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #fff;
}

.games ul li.active {
  background: var(--congo_pink);
  color: #050e2d;
  box-shadow: 0 0 10px var(--congo_pink);
}

.games .cardBx {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.games .cardBx .card {
  width: 280px;
  border-radius: 10px;
  margin: 20px 40px;
  background:var(--spanish-violet);
  overflow: hidden;
}

.games .cardBx .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.games .cardBx .card .content {
  padding: 10px;
}

.games .cardBx .card .content h4 {
  color: #fff;
  margin: 15px 0;
}

.games .cardBx .card .process-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: var(--steel-blue);
  margin-bottom: 15px;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .process-line span {
  position: absolute;
  height: 100%;
  width: 80%;
  border-radius: 10px;
  background: var(--congo_pink);
  box-shadow: 0 0 10px var(--congo_pink);
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.games .cardBx .card .info {
  border-top: 2px solid var(--steel-blue);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.games .cardBx .card .info p {
  font-size: 1em;
  color: #fff;
}

.games .cardBx .card .info p span {
  color: var(--congo_pink);
}

.games .cardBx .card .info a {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  border: 1px solid var(--congo_pink);
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 1px;
}

.games .cardBx .card .info a:hover {
  background: var(--congo_pink);
  border: none;
  color:var(--spanish-violet);
  box-shadow: 0 0 10px var(--congo_pink);
}

.games .cardBx .card.hide {
  display: none;
}


/* Responsive Page*/

@media (max-width: 991px) {
  header {
    padding: 15px 40px;
  }
  header .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:var(--spanish-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
  }

  header .nav li {
    margin: 20px 0;
  }
  header .nav li a {
    font-size: 24px;
    margin: 10px 0;
  }
  .toggleMenu {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(menu.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1001;
  }
  .toggleMenu.active {
    background: url(close.png);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
  }
}
