* {
    margin: 0;
    padding: 0;
}

:root {
    background-image: url(../img/alternate-background.png);
    /* Color pallet options 1 (match login background) */
    --deep-champagne: #FFD699;
    --congo_pink: #FF8380;
    --persian-rose: #F2379A;
    --steel-blue: #567D9A;
    --spanish-violet: #452386;
}

/* defines size and color of the parent navbar */
.navbar {
    display: flex;
    border: 1px solid black;
    height: 80px;
    background-color: var(--deep-champagne);
}

/* defines home icon size and position inside of navbar */
.home-btn {
    background-image: url(../img/home-icon.png);
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
}



.flexbox-container1 {
    display: flex;
    border: 1px solid black;
    height: 450px;
    margin: 8% 8% 3% 8%;
    background-color: #FF8380;
}

.flexbox-profile-pic {
    border: 1px solid black;
    flex-grow: 1;
    margin: 2% 5% 2% 2%;
    background-color: #567D9A;
}

.flexbox-info {
    border: 1px solid black;
    flex-grow: 1;
    margin: 2% 2% 2% 5%;
    background-color: #567D9A;
}

.flexbox-container2 {
    min-height: 630px;
    border: 1px solid black;
    margin: 3% 8% 8% 8% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FF8380;
}

