:root {
    /* background-image: url(../img/alternate-background.png); */
    /* Color pallet options 1 (match login background) */
    --deep-champagne: #FFD699;
    --congo_pink: #FF8380;
    --persian-rose: #F2379A;
    --steel-blue: #567D9A;
    --spanish-violet: #452386;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    color: var(--steel-blue);
}

nav{
    background: var(--congo_pink);
    width: 100%;
    padding:10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav h2{
    color: #fff;
}
